<!-- {{#if isAdmin}}
  {{#link-to 'post-form'}}new post{{/link-to}}
{{else}}
  <button type="button" class="btn btn-primary" {{action 'adminActivate'}}>go go gadget administrator</button>
{{/if}} -->
